.gnbArea {
    border-bottom: 1px solid #ddd;

    .innerLayout {
        width: 1250px;
        margin: 0 auto;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.logoAuction {
    position: relative;
    width: 88px;
    height: 40px;
    float: left;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 13px;
        transform: translateY(-50%);
        background: url('../../images/common-icon.png') 0 0 no-repeat;
    }
}

.gnbMenu {
    float: right;
    margin-top: 8px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .listMenu {
        float: left;
        line-height: 0;

        a {
            position: relative;
            padding: 0 8px;
            font-size: 12px;
            line-height: 20px;
            color: #666;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 1px;
                height: 12px;
                transform: translateY(-50%);
                background: #666;
            }

            &:first-child:after {
                display: none;
            }
        }
    }

    .infoUse {
        float: left;
        padding-right: 8px;
        font-size: 12px;
        line-height: 20px;
        color: #666;
    }
}